*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gabarito',sans-serif;
    cursor: pointer;
}
.navbar{
    width: 100%;
    padding: 10px;
    display: flex;
    border-bottom: black solid 2px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
    gap: 10px;
    flex-grow: 1;
}
.navbar__s1{
    color: #A435F0;
}
.navbar__s2{
    display: flex;
    padding: 10px;
    border: solid black 2px;
    width: 80%;
    border-radius: 30px;
    gap: 10px;
}
.navbar__s2 input{
    font-size: 16px;
    width: 100%;
    border-radius: 30px;
    border: none;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
}
.navbar__s3 p:hover{
    color: grey;
}
.navbar__s4{
    display: flex;
    gap: 10px;
}
.categories{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}
.categories p{
    padding: 10px;
    background-color: #A435F0;
    color: white;
    border: solid #a435f0 2px;
    border-radius: 30px;
}
.categories p:hover{
    transition: 1s;
    background-color: white;
    color: black;
    border: solid 2px #a435f0;
}
.card_title{
    padding: 10px;
}
.cards p{
    font-size: 20px;
}
.cards{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topic_title{
    padding: 10px;
}
.topics{
    display: flex;    
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics p{        
    border: solid black 2px;    
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
}
.topics p:hover{
    background-color: gray;
    color: white;
}
.card_title1{
    padding: 10px;
}
.cards1 p{
    font-size: 20px;
}
.cards1{
    padding: 20px;
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.cards .boxs1{
    padding-bottom:1000px;
}

.footer{
    width: 95%;
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one p{
    margin: 20px;
    flex-grow: 1;
}
.footer__one{
    gap: 10px;
    display: flex;
}
.footer__two{
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}